body {
    font-family: sans-serif;
    background-color: lime;
    margin-top: 100px;
    padding-left:40px;
    padding-right:40px;
    
}
.body{
   /* padding-left:40px;
    padding-right:40px;*/
    position:relative;
    width:1000px;
    height:500px;
}

.center {
    text-align: center;
   /* padding-left:40px;
    padding-right:40px;*/
    position:relative;
    width:1000px;
    height:500px;
    margin:0 auto;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
    width:500px;
}
.anki{
   max-width:800px;
   margin: 0 auto;
   color:#de41d1;
   font-family:sans-serif;
   padding-left:8px;
   padding-right:8px;
   padding-top:10px;
   background-color:#dcf7f9;
}
/*body{
 background-color:#ffffff26;
}
h3{
font-family:Castellar;
}
